@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

/* common css of all components */

.container{
  padding-left: 10%;
  padding-right: 10%;
  height: 100vh;
  background-color: #E4DCCF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* height: 50px; */
}
.form{
  width: 22%;
  /* height: 300px; */
  padding: 30px;
  background-color:  #EA5455;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form > input, .form > select{
  height: 40px;
  text-indent: 20px;
  /* outline-color: red; */
  outline: none;
  border-radius: 10px;
  border: 1px solid #251f1f;

}
.form > button{
  width: 40%;
  height: 40px;
  outline: none;
  border: none;
  background-color: black;
  color: white;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
  transition: 0.3s;
  
}

.form > button:hover{
  background-color: #EA5455;
  color: black;
  outline: 2px solid black;
}
.messageBox{
  text-align: center;
}